.body{
    min-height: 100vh; 
    background-color:#E7E7EE;
    overflow-y: scroll;
    display: flex;
}

.body-container{
    right: 2%;
    left: 5%;
    bottom: auto;
    top: 10%;
    position: fixed;
    height: auto;
    border-radius: 16px;
    background-color:#fff;
    padding: 20px 20px 20px 20px;
}