.nombre-user{
    color: white;
    font-family: 'Roboto';
    font-size: 130%;
    font-weight: bold lighter;
}

.email-user{
    color: white;
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 100%;
}

@media screen and (max-width: 960px) {
    .nombre-user{
        color: white;
        font-family: 'Roboto';
        font-size: 105%;
        font-weight: bold;
    }
    .email-user{
        color: white;
        font-family: 'Roboto';
        font-size: 90%;
    }
}

@media screen and (max-width: 600px) {
    .nombre-user{
        color: white;
        font-family: 'Roboto';
        font-size: 90%;
        font-weight: bold;
    }
    .email-user{
        color: white;
        font-family: 'Roboto';
        font-size: 70%;
    }
}

