.SidebarLink{
    background-color:#15171c;
    display: flex;
    color: #e1e9fc;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style: none;
    height: 60px;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
}

.SidebarLink:hover{
    background: #252831;
    cursor: pointer;
}

.DropdownLink{
    background: #414757;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15%;
    color: #f5f5f5;
    font-size: 18px;
}

.DropdownLink:hover {
    background: #632ce4;
}