.SidebarLink{
    background-color:rgb(15, 0, 83);
    display: flex;
    color: #e1e9fc;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style: none;
    height: 60px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.SidebarLink:hover{
    background: rgb(63, 87, 160);
    cursor: pointer;
}

.DropdownLink{
    background: rgb(55, 43, 107);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.DropdownLink:hover {
    background: #3045bb;
}


.label-subnav{
    font-family: 'Arial';
    color: rgb(252, 249, 249);
}

.hover-dropdown{
    color: white;
    font-family: 'Arial';
    font-size: 140;
}

.hover-dropdown:hover {
    color: rgba(15, 0, 83, 0.863);
}

.nombre-user{
    color: white;
    font-family: 'Arial';
    font-size: 120%;
}

@media screen and (max-width: 960px) {
    .nombre-user{
        color: white;
        font-family: 'Arial';
        font-size: 105%;
    }
}

@media screen and (max-width: 600px) {
    .nombre-user{
        color: white;
        font-family: 'Arial';
        font-size: 90%;
    }
}

