.accordion-details{
    margin-top: 2%;
}

.container-filter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.label-box{
    width: 5rem;
}

.label-field{
    color: grey;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
}

.toggle-box{
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5%;
}

.label-maestra-field-box{
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    grid-gap: 3%;
    width: 30vw;
}
